*{
    box-sizing: border-box;
}

:root{
    --color1:#d89584;
    --color2:#F4F4F4;
}
body{
    margin:0;
    font-family:arial;
    line-height:1.5;
    
}
iframe{
    width:100%;
    border:none;
    height:350px;
}
div.cover{
    
    background: url(cover_overlay.png) no-repeat center/100% 100%,url(cover.jpg)no-repeat center/cover;
    height:360px;
    position:relative;
}
img.cover-profile{
    height:100px;
    position:relative;
    left:50%;
    margin-left:-50px;
    margin-top:50px;
    
}
h1{
    color:white;
    text-align:center;
    font-size:42px;
    margin-top:10px;
    margin-bottom:0px;
}
div.cover p{
    color:lightgray;
    text-align:center;
    margin-top: 8px;
    font-size:14px;

}
div.cover-contact{
    position:absolute;
    top:20px;
    left:10px;
    border-left:4px solid var(--color1);
    padding-left:8px;
}
div.cover-contact p{
   text-align:left; 
   margin-top: 0px;
   margin-bottom:0px;
}
div.cover-contact p:first-child{
    margin-bottom: 14px;
}
div.cover-contact *{
    color:white;
    font-size:14px;
}
a.contact-button{
    color:var(--color1);
    border:3px solid var(--color1);
    padding:8px 20px;
    text-decoration:none;
    background-color: #00000040;
    display:inline-block;
    margin-top:18px;
    font-size:14px;
    
}
a.contact-button:hover{
    color:white;
    border:3px solid white;

}
div.section-grise1 {
background: url(triangle2white.svg) no-repeat center bottom/100%;
background-color: var(--color2);
padding-bottom:70px ;
}
.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom:30px;
    overflow:auto;
}

div.section-grise2 {
background: url(triangle1white.svg) no-repeat center top/100%;
background-color: var(--color2);
padding-top:80px ;
}
h2{
    text-align: center;
    font-size:34px ;
    margin-top: 0px;
}
div.separateur{
    background-color:#979797 ;
    height:1px;
    width:150px;
    position: relative;
    left:50%;
    margin-left:-75px;
}
div.section-grise1 p{
 font-size: 22px;
 color: #656565; 
 text-align: center;
 max-width:450px; 
 margin-left: auto;
 margin-right: auto;
}
img.col-contenue {
    width:40%; 
 }
 div.col-contenue{
     width:60%;
     padding-left: 16px;
 }
.float-right{
    float:right;

}
div.texte-avec-ligne-verticale{
    border-left:4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}
div.texte-avec-ligne-verticale p{
    margin-top: 0;
    font-size: 18px;
}
div.bar-verticale{
    height:50px;
    width:4px;
    background-color: var(--color1);
    margin-right:8px;  
}
.col-portfolio{
   width:47%; 
}
div.frame{
    margin: 30px 50px;
    padding:20px 30px;
    background-color: white;
    box-shadow: 0px 8px 8px 1px rgba(0,0,0,0.1);
}
p.frame-title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.portfolio-header{
    height:90px;
    background: url(header.jpg) no-repeat center/cover;
    position: relative;
       
}


.portfolio-header p{
    color:white;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    padding-left:6px;
}
div.portfolio h1{
    color:black;
    font-size: 46px;
    line-height:1;
    padding-top: 10 px;
}
div.portfolio h2{
    font-size:26px;
    font-weight: normal;
    margin-bottom: 0;
}
a.portfolio-back {
    color:var(--color1);
    margin-left: -10px;
}
img.image-projet-1{
    width: 70%;
    max-width: 550px;
    
}
img.image-projet-2{
    width: 70%;
    max-width: 550px;
    
}
div.frame img{
    width:100px; 
 }
 .display-mobile{
    display:none;
}
    

@media only screen and (max-width:768px) {
    img.cover-profile{
        height:90px;
        margin-top:75px;
    }
    
    h1{
        
        font-size:38px;
        margin-top:6px;
        margin-bottom:0px;
    }
    div.cover p{
        margin-top: 2px;
        font-size:13px;
 
    }
    div.section-grise1 {
        padding-bottom:40px ;
        }
        .section{
            padding-left: 20px;
            padding-right: 20px;
            
        }
        h2{
            font-size:30px ;
        }   
        img.col-contenue {
            width:100%; 
         }
         div.col-contenue{
             width:100%;
             padding-left: 0px;
             margin-top: 20px;
         }
         .col-portfolio{
           width: 100%;
           margin-bottom: 20px; 
         }
         div.frame{
            margin: 0px 0px;
            padding:0px 0px;
            box-shadow: none;
        }
        div.frame img{
           width:70px; 
        }
        iframe{
            height:250px;
        }
        div.portfolio h1{
            
            font-size: 40px;
            
        }
        div.portfolio h2{
            font-size:22px;}
        
        img.image-projet-1{
                width: 100%;
                max-width: 550px;
                
        }
        img.image-projet-2{
                width: 100%;
                max-width: 550px;}

        .display-mobile{
            display:block;
        }
                
            
}